---
title: "Page Not Found"
layout: "base.njk"
description: "Requested page does not exist."
permalink: "404.html"
---

<div class="not-found-container">
    <img src="/assets/exhausted.webp" alt="თავჩაქინდრული გოგონა კომპიუტერის მაგიდასთან" width="500" height="373" decoding="async">
    <h1>გვერდი ვერ მოიძებნა</h1>
    <p>მოდი, <a href="/">თავიდან დავიწყოთ!</a></p>
</div>