---
permalink: "sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for article in collections.articles %}
{%- if article.url != "/uwu.html" %}
  <url>
    <loc>{{ site.url }}{{ article.url | canonical }}</loc>
{%- set modified = article.inputPath | lastmod %}
{%- if modified %}
    <lastmod>{{ modified }}</lastmod>
{%- endif %}
  </url>
{%- endif %}
{%- endfor %}
</urlset>
